.project-thumb {
	
  .image-effect {
    transition: all 1s ease;

  }
}

.project-thumb:hover {
  .image-effect {
    opacity: 1;
  }
}


.keyword-list {
  height: 3em;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 100%;
  will-change: transform;
}

.keyword-list-container {
  animation: flows 50s linear infinite;
  left: 0;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

@keyframes flows {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
