@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../Scss/styles";
@import "../Scss/variables/typography.scss";
@import "../Scss/variables/colors";
@import "../Scss/mixins/link-text-decoration";


@layer base {

  .font__heading {
    font-family: $font-family-heading;
  }

  .font__base {
    font-family: $font-family-base;
  }

  .text__black {
    color: $black;
  }

  .text__heading {
    color: $primary-color;
  }

  .text__link {
    color: $color-link;
  }

  h1 {
    @apply text-6xl font-black;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text__heading font__heading;
  letter-spacing: 1px;
}

  .bg__main {
    background-color: $bg-light;
  }

  body {
   @apply font__base text-lg;
   line-height: 1.7em;
  }
  

  
}

:root {
  accent-color: $primary-color;
}

body {
  background: $bg-light;
}

a {
  color: $color-link;
  text-decoration: none;
  transform: all 0.5s ease-in;

  &:hover {
    @include link-text-decoration();
    color: $color-text;
  }
}
