@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../Scss/styles";
@import "../Scss/variables/typography";
@import "../Scss/variables/colors";
@import "../Scss/mixins/link-text-decoration";

@layer base {
  .font__heading {
    font-family: $font-family-heading;
  }

  .font__base {
    font-family: $font-family-base;
  }

  .font__mono {
    font-family: $font-family-mono;
  }

  .text__black {
    color: $black;
  }

  .text__primary {
    color: $color-primary;
  }

  .text__secondary {
    color: $secondary-color;
  }

  .text__light {
    color: $ivory;
  }

  .text__link {
    color: $color-link;
  }

  .text__ivory {
    color: $color-ivory;
  }

  .decoration-primary {
    @apply decoration-wavy;
    text-decoration-color: $primary-color;
  }

  h1 {
    @apply text-6xl font-black;
  }

  h2 {
    @apply text-5xl font-bold;
  }

  h3 {
    @apply text-3xl font-semibold;
  }

  h4 {
    @apply text-2xl;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font__heading;
    letter-spacing: 1px;
  }

  .bg__main {
    background-color: $bg-light;
  }

  .bg__light {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .bg__primary {
    background-color: $primary-color;
  }

  .bg__secondary {
    background-color: $secondary-color;
  }

  .border__light {
    border-color: $ivory;
  }

  .border__primary {
    border-color: $primary-color;
  }

  .bg__dark {
    background-color: $bg-black;
  }

	

  .transform__x-y-center {
    transform: translate(-50%, -50%);
  }

  body {
    @apply font__base text-lg;
    line-height: 1.7em;
  }

  section {
    @apply md:py-16;
  }
}

:root {
  --animate-duration: 4s;
  --animate-delay: 0.9s;
  accent-color: $primary-color;
  color: #111827;
  cursor: none;
}

* {
  cursor: none !important;
}

body {
  background: $bg-light;
  overflow-x: hidden;
}

a {
  // color: $color-link;
  // text-decoration: none;
  transform: all 0.5s ease-in;

  &:hover {
    // opacity: 0.8;
    // @include link-text-decoration();
    // color: $color-text;
  }
}
