@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../Scss/styles";
@import "../Scss/variables/typography";
@import "../Scss/variables/colors";


@layer base {
  .font__heading {
    font-family: $font-family-heading;
  }

  .font__base {
    font-family: $font-family-base;
  }

  .font__mono {
    font-family: $font-family-mono;
  }

  .text__light {
    color: $light;
  }

  h1 {
    @apply text-6xl font-black;
  }

  h2 {
    @apply text-5xl font-bold;
  }

  h3 {
    @apply text-3xl font-semibold;
  }

  h4 {
    @apply text-2xl;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font__heading;
    letter-spacing: 1px;
  }

  .bg__light {
    background-color: $light;
  }

  .bg__light_trans {
    background-color: opacify($light, 0.2);;
  }

  .border__light {
    border-color: $light;
  }

  .transform__x-y-center {
    transform: translate(-50%, -50%);
  }

  body {
    @apply font__base text-lg;
    line-height: 1.7em;
  }

  section:not(.home) {
    @apply md:py-16 relative;
  }
}

* {
  cursor: none;
}

:root {
  --animate-duration: 4s;
  --animate-delay: 0.9s;
  accent-color: #059669;
  @apply text-slate-900;
}

body {
  @apply bg__light overflow-x-hidden;
}
