@import "../../Scss/variables/colors";
@import "../../Scss/variables/default-variables";

.section-contact {
  background-position: calc(100% + 2.5em) 5em;
  background-size: 15em;

  @media (min-width: $sm) {
    background-position: calc(100% - 2.5rem) -20%;
    background-size: 17em;
  }
}

.img-finger {
  --animate-duration: 6s;
}
