$blue: #195cc8;
$orange: #e94f37;
$green: #148671;
$ivory: #f1ebdc;
$black: #212121;



$primary-color: $blue;
$secondary-color: $orange;
$bg-light: $ivory;

$color-text: $black;
$color-heading: $primary-color;
$color-link: $primary-color;

